.idea
cmd/github-mcp-server/github-mcp-server

# VSCode
.vscode/*
!.vscode/launch.json

# Added by goreleaser init:
dist/
__debug_bin*

# Go
vendor
bin/

# macOS
.DS_Store

# binary
github-mcp-server
*.exe
cmd/mcpcurl/mcpcurl

# tests
*.test
coverage.out

# AI Context
GEMINI.md

.history
conformance-report/
